<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    
    <div id="app" v-cloak>
        <button @click="toggleBox">Toggle Box</button>
        <div v-if="isVisible" class="box"></div>
        <test-box v-if="isVisible" />
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    isVisible: false
                }
            },
            methods: {
                    toggleBox() {
                        return this.isVisible = !this.isVisible
                    }
                }
        })
        app.component('test-box', {
            template: `
                <div class="box"></div>
            `
        })
        
        app.mount('#app')
    </script>
</body>
</html>